.feed-card-tools{
    display: flex;
    flex: 1 1 auto;
    width:100%;
    flex-direction: column;
    cursor: pointer;
    padding:10px;
    box-sizing: border-box;
}
.feed-card-tool{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:30px;
    max-width:30px;
    min-height:30px;
    max-height:30px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.1);
    margin-bottom:10px;
}
.feed-card-tool:hover{
    background-color: rgba(0,0,0,0.2);
}
.feed-card-tool[active]{
    opacity:0.3;
}
